@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

body{
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    align-items: center;
}

header{
    position: fixed;
    max-width: 1080px;
    width: 100%;
    z-index: 9999999;
    background-color: white;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
h1{
    padding: 2vh 2vw;
    font-size: 1.5rem;
    display: flex;
}

.menu{
    display: flex;
    padding: 2vh 2vw;
    width: 50%;
    justify-content: space-evenly;
    font-size: 0.7rem;
}
.menu li{
    display: flex;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu a:hover{
    font-weight: bold;
}
@media(max-width: 800px){
    .menu{
        width: 70%;
    }
}
@media(max-width: 730px){
    .header{
        background-image: url(img/Menu.svg);
        background-repeat: no-repeat;
        height: 50px;
    }
    .menu{
        display: none;
    }
    .header h1{
        width: 100%;
        justify-content: center;
    }
}
.papel-de-parede{
    background-image: url("img/laranjaazulrecorte@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    color: white;
}
.papel-de-parede img{
    object-fit: contain;
    width: 100%;
    display: flex;
}

.papel-de-parede h2{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 2.5rem;
}
.papel-de-parede p{
    position: absolute;
    top: 55%;
    left: 10%;
    font-size: 1.5rem;
    font-weight: lighter;
}
@media(max-width: 650px){
    .papel-de-parede h2{
        top: 30%;
    }
    .papel-de-parede p{
        top: 80%;
    }
}
@media(max-width: 560px){
    .papel-de-parede h2{
        display: static;
        font-size: 2rem;
    }
    .papel-de-parede p{
        display: static;
        font-size: 1.3rem;
    }
}

.galery{
    display: flex;
    padding: 4vh 3vw;
    text-align: center;
    flex-wrap: wrap;
}
.galery img{
    width: 240px;
    flex-wrap: wrap;
}
.galery img:hover{
    border: 1px solid gray;
    cursor: pointer;
    transform: scale(1.2);
}
footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.social-media{
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.social-media a{
    cursor: auto;
}
.social-media img{
    width: 3vw;
    height: 2.5vh;
    cursor: pointer;
}

.copy{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copy h3{
    font-size: 1.2rem;
}
.copy p{
    width: 60%;
    font-size: 0.7rem;
}
button{
    display: none;
}
@media(max-width: 730px){
    .social-media{
        width: 70%;
        background-color: #7FDBD4;
        padding: 2vh 1vw;
        flex-wrap: wrap;
    }
    .copy{
        width: 50%;
        flex-wrap: wrap;
        margin-left: 6vw;
        padding: 2vh 0;
    }
    .copy h3{
        font-size: 0.7rem;
    }
    .copy p{
        font-size: 0.5rem;
    }
    button{
        display: flex;
        background-color: #333333;
        color: white;
        margin: 2vh 8vw 2vh 0;
        padding: 0.5vh 1vw;
        font-size: 0.5rem;
    }   
}